{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/logoz.jpg' %}">
    <title>Tu Carrito</title>

    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<nav class="navbar navbar-expand-lg bg-body-tertiary navmenu">
    <div class="container-fluid">
        <a class="navbar-brand text-white texto_logo" href="{% url 'index' %}"> <img src="{% static 'images/logoz.jpg' %}" alt=""
                style="width: 50px;">Zapatería <span class="logo">Sport</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'lista_productos' %}">Zapatillas</a>
                </li>
            </ul>
            <span class="navbar-text">
                <a href="{% url 'ver_carrito' %}" class="text-white nav-link"><i
                        class="fa-solid fa-cart-shopping"></i></a>
            </span>
        </div>
    </div>
</nav>

<body>
    <div class="container">
        <h2>Tu Carrito:</h2>
        <h3 class="my-4 text-end">Total del Carrito: ${{ total_carrito }}</h3>
        <ul class="carrito-lista">
            {% for elemento in elementos %}
            <li class="carrito-item">
                <img src="{{ elemento.producto.image.url }}" alt="{{ elemento.producto.nombre }}" class="product-image">
                <div class="product-details">
                    <h3>{{ elemento.producto.name }}</h3>
                    <p>{{ elemento.producto.characteristics }}</p>
                    <p>Precio: ${{ elemento.producto.price }}</p>
                    <p>Cantidad: {{ elemento.cantidad }}</p>

                </div>
                <a href="{% url 'eliminar_del_carrito' elemento.id %}" class="eliminar">
                    <i class="fa fa-trash"></i>
                </a>
            </li>
            {% endfor %}
            {% if elementos|length == 0 %}
            <li class="carrito-item" >
                <h4>No hay productos en tu carrito</h4>
            </li>
            {% endif %}
        </ul>
        <a href="/" class="btn btn-primary">Continuar comprando</a>

    </div>

   

    {% bootstrap_javascript %}
</body>

</html>