
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navmenu {
    background-color: #122432;
}



.imagen_logo {
    width: 50px;
    margin-right: 10px;
}


.anuncio{
    background-color: #363434; 
    color: #f5f5f5; 
    padding: 10px;
    text-align: center;
    border: 3px solid #000000; 
    margin-bottom: 20px; 
}

.anuncio h1 {
    margin: 0;
    font-size: 2em;
}

.anuncio p {
    margin: 0;
    font-size: 1.2em;
}



.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagen_producto {
    object-fit: cover;
    height:300px; 
}



footer {
    background-color: #333;
    color: #fff;
    

    
   
  
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #ddd;
}

