{% extends 'base_generic.html' %}
{% load static %}
{% load bootstrap5 %}

{% block head %}
    <link rel="icon" href="{% static 'images/logoz.jpg' %}">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/confirmacion.css' %}">

    <title>Mensaje de Confirmación</title>
{% endblock %}

{% block content %}
    <div class="container mt-5 py-5 confirmation-container">
        <h3 class="text-center">Zapatería <span class="logo">Sports</span> <span><img src="{% static 'images/logoz.jpg' %}" alt="Logo Zapatería" class="logo-image" style="width: 50px;"  ></span></h3>
        <h2 class="confirmation-heading text-center">¡Gracias por tu mensaje!</h2>
        <p class="confirmation-text text-center">Pronto te responderemos. ¡Gracias por contactarnos!</p>
      <!-- volver index -->
        
        <p class="text-center"> <a href="{% url 'index' %}" class="btn btn-primary">Volver al inicio</a> </p>
    </div>
{% endblock %}

{% block scripts %}
    {% bootstrap_javascript %}
{% endblock %}
